@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "itim", sans-serif;
  font-size: 18px;
  background-color: #e9d9d9;
  color: #97a2d7;
}

@font-face {
  font-family: "itim";
  font-style: normal;
  font-display: swap;
  src: url(../../public/assets/fonts/Itim-Regular.ttf) format("TrueType");
}
