@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "itim", sans-serif;
  font-size: 18px;
  background-color: #e9d9d9;
  color: #97a2d7;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "itim";
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Itim-Regular.ttf) format("TrueType");
}
